In [1]:
import numpy as np
import pandas as pd
from numpy.random import randint

In [2]:
outside = ['Player Character', 'Player Character', 'Non-player Character', 'Non-player Character', 'Non-player Character', 'Non-player Character']
inside = ['Joey', 'Jon', 'Creeper', 'Slendy', 'Dragon', 'Zombie']
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
df = pd.DataFrame(randint(1, 21, size=(6,6)),hier_index,['STR', 'CON', 'DEX', 'INT', 'WIS', 'CHA'])

In [4]:
df

                              STR  CON  DEX  INT  WIS  CHA
Player Character     Joey      19   16    8    5    2    6
                     Jon        4    1   11   19   13   18
Non-player Character Creeper   13   14    1   13    1    2
                     Slendy    16   10    4   18    8   14
                     Dragon    20   18   14    8   11    8
                     Zombie    10    3    2    5    4    8

In [6]:
df.loc['Player Character'].loc['Joey']

STR    19
CON    16
DEX     8
INT     5
WIS     2
CHA     6
Name: Joey, dtype: int64

In [9]:
df.loc['Non-player Character'].loc['Creeper']

STR    13
CON    14
DEX     1
INT    13
WIS     1
CHA     2
Name: Creeper, dtype: int64